<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing post</h1>

  <%= render "form", post: @post %>

  <%= link_to "Show this post", discussion_post_path(@post.discussion), class: "nav-button" %>
  <%= link_to "Back to posts", discussion_post_path(@post.discussion), class: "nav-button" %>
</div>
